.logoText {
    font-family: 'Rubik', sans-serif;    
    font-weight: 700;
    color: rgb(50, 119, 255);
}

div {
    color: #3277ff;
    color: #3277ff;
}

.css-1slvrkx-MuiPaper-root-MuiAppBar-root {
    /* border-bottom-left-radius: 1rem; */
    /* border-bottom-right-radius: 1rem; */
    z-index: 8;
}

.day {
    width: 1rem;
}
