.btn {
    margin: 2vh;
    width: 40vh
}

.next {
    height: 10vh
}

.loader {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatarImg {
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    border-radius: 20vh;
    margin: 3vh;
}

/* .navbar {
    display: flex;
    width: 100%;
    justify-content: center
} */